
* {
  box-sizing: border-box;
  color: #333;
}

#root {
  width: 100%;
}

body {
  background-color: #81a69a;
  background-image: url(http://pets-images.dev-apis.com/pets/wallpaperB.jpg);
  margin: 0;
  font-family: "Seoge UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}

label {
  display: block;
  padding: 10px;
}

.search-params {
  padding: 10px;
  background-color: #fff;
  width: 250px;
  /* position: relative;
  left: 50%;
  transform: translateX(-50%); */
  border: 1px solid black;
}

.search-submit-btn,
.details-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.search-submit-btn,
.details-btn,
.buttons {
  background-color: grey;
  color: white;
  font-weight: 800;
  border: 0;
  padding: 10px 15px;
  letter-spacing: 1.5px;
  margin: 2px;
}

.search-input {
  padding: 0 5px;
  margin: 5px 0;
  display: block;
  width: 100%;
}

.image-container,
.carousel-smaller-img {
  width: 75px;
  height: 75px;
  display: inline-block;
}

.info {
  margin-left: 10px;
  display: inline-block;
}

.image-container-src,
.carousel-smaller-img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}

.pet-wrapper {
  margin: 10px;
  border-bottom: 2px solid black;
}

.info-name {
  font-size: 24px;
  font-weight: 400;
}

.info-details {
  font-size: 18px;
  font-weight: 400;
}

.search-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.active {
  border: 3px solid red;
}

.carousel {
  display: flex;
}

.carousel-bigger {
  width: 300px;
  height: auto;
}

.carousel-smaller {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.carousel-smaller-img {
  margin: 25px;
}

#modal {
  background-color: #ad343e;
  padding: 5px 25px;
  color: white;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  padding: 15px;
  text-align: center;
  border-radius: 30px;
  background: #faeff0;
}

#modal .buttons button {
  display: inline-block;
  margin-right: 15px;
}

.details {
	max-width: 70%;
	margin: auto;
	background-color: beige;
	padding: 10px;
}
